.menu {
    gap: 5px;
}

label {
    color: black;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}

input {
    text-align: center;
    width: 85%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(230, 230, 255);
    transition: all .3s;
}
input:hover {
    background-color: rgb(210, 210, 235);
}
input:focus {
    width: 95%;
}


button{
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(230, 230, 255);
    font-size: 22px;
    transition: all .3s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(210, 210, 235);
}

#res{
    text-align: center;
    margin: 20px;
    font-size: 18px;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td:nth-child(odd) {
    background-color: #ffffff;
}

tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody td:hover {
    background-color: #ddd;
}
